<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Tên: <%= product.name %></p>
    <p>Giá: <%= product.price %></p>
    <p>Description: <%= product.description %></p>
    <p>Image: <img src="<%= product.image %>" alt=""></p>

</body>
</html>